/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';
@import '_locomotive.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-off-white;
}

.video {
  aspect-ratio: 16/9;
}

.video iframe {
  aspect-ratio: 16/9 !important;
  width: 100% !important;
  height: auto !important;
}